---
export interface Props {
  title: string;
  time: string;
  tags: string[] | string;
}

const { title, time, tags } = Astro.props;

// Asegurarnos de que tags sea siempre un array
const tagsArray = Array.isArray(tags) ? tags : tags ? [tags] : [];
---

<article class="rounded-[10px] border border-gray-200 bg-white px-4 pt-12 pb-4">
  <time datetime={time} class="block text-xs text-gray-500">
    {time}
  </time>

  <a href="#">
    <h3 class="mt-0.5 text-lg font-medium text-gray-900">
      {title}
    </h3>
  </a>

  <div class="mt-4 flex flex-wrap gap-1">
    {
      tagsArray.map((item) => (
        <span class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600">
          {item}
        </span>
      ))
    }
  </div>
</article>